    .main_body{
        background-color:#f0f0ff;;
        text-align: center ;
        padding-top: 5px;
        padding-bottom: 10px;
        padding-right: 3px;
        padding-left: 3px;
        border-radius: 20px;
        margin-bottom: 20px;

    }
    .container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        border-radius: 20px;
        background-color: #dde1e7;
        padding-bottom: 15px;
        height: max-content;
    }
    .holder{
        background-color: #dde1e7;
        /* background-color: red; */
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: max-content;
        height: max-content;
        align-items: center;
        box-shadow: -3px -3px 5px #fff,3px 3px 15px #000 ;
        border-radius: 20px;
        margin: 15px;
    }
    .picture{
        margin: 10px;
        padding: 5px;
        border-radius: 15px;
        align-content: center;
        background-color:whitesmoke;
        width: 20vh;
        height: 15vh;
        position: relative;
        border-radius: 20px;
    }

    .image {
        display: block;
        border-radius: 20px;
    }

    .overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #dde1e7;
        overflow: hidden;
        width: 100%;
        height: 0;
        transition: .5s ease;
        border-radius: 15px;
        text-align: center;
        justify-content: space-around;
        align-content: center;
    }

    .picture:hover .overlay {
        top: 0;
        bottom: auto;
        height: 100%;
    }

    .picture:hover{
        height: 30vh;
    }

    .text {
        /* color: #4285F4; */
        color:#444;
        font-size: 20px;
        position: absolute;
        left: 8.5vh;
        top: 12vh;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        overflow: scroll;
        height:90%;
        width: 90%;
    }
    h1{
        color: #444;
        width: 100%;
        /* background-color: #dde1e7; */
    }
    .alert{
        background-color: whitesmoke;
        border-radius: 10px;
        width: 100%;
        position: relative;
        top: 25%;
    }
    .city_name{
        margin: 2%;
        display: inline-block;
        background-color: #6192ED;
        color: whitesmoke;
        padding-left: 6%;
        padding-right: 6%;
        border-radius: 10%;
    }
