    .main_body{
        background-color:#f0f0ff;;
        text-align: center ;
        padding: 3vh;
        border-radius: 5vh;
        margin-bottom: 5vh;
        overflow: scroll;
    }
    .container{
        margin: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        border-radius: 5vh;
        background-color: #dde1e7;
        padding-bottom: 1.5vh;
        height: max-content;
    }
    .holder{
        background-color: #dde1e7;
        /* background-color: red; */
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: max-content;
        height: max-content;
        align-items: center;
        box-shadow: -0.5vh -0.5vh 0.7vh #fff,0.5vh 0.5vh 0.7vh #000 ;
        border-radius: 20px;
        margin: 15px;
    }
    .picture{
        margin: 1.5vh;
        padding: 0.7vh;
        border-radius: 15px;
        align-content: center;
        background-color:#dde1e7;
        width: 20vh;
        height: 15vh;
        position: relative;
        border-radius: 20px;
    }

    .image {
        display: block;
        border-radius: 20px;
    }

    .overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #dde1e7;
        overflow: hidden;
        width: 100%;
        height: 0;
        transition: .5s ease;
        border-radius: 3vh;
        text-align: center;
        justify-content: space-around;
        align-content: center;
    }

    .picture:hover .overlay {
        top: 0;
        bottom: auto;
        height: 100%;
        background-color: #fff;
    }

    .picture:hover{
        height: 30vh;
        background-color: #16FF60;

    }

    .picture:hover .alert{
        background-color: #16FF60;
        color: whitesmoke;
    }

    .picture:hover .holder{
        background-color: #16FF60;
        color: whitesmoke;
    }

    .text {
        /* color: #4285F4; */
        color:#444;
        background-color: #fff;
        font-size: 20px;
        position: absolute;
        left: 8.5vh;
        top: 15vh;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        overflow: scroll;
        height:80%;
        width: 90%;
    }
    h1{
        color: #444;
        width: 100%;
        /* background-color: #dde1e7; */
    }
    .alert{
        background-color: whitesmoke;
        border-radius: 10px;
        width: 100%;
        position: relative;
        top: 25%;
    }
    .city_name{
        margin: 2%;
        display: inline-block;
        background-color: #6192ED;
        color: whitesmoke;
        padding-left: 6%;
        padding-right: 6%;
        border-radius: 10%;
    }
